.DS_Store
log/**/*
log/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
db/.credentials
db/.credentials.rb
.*.sw*
public/images/kinopoisk/
public/images/posters/
public/images/bgs/old/
public/stylesheets/old/
*.sublime-*
config/.token.rb
tasks/logs/*
stub
*.txt