*.sublime-*
*.txt
.*.jp*g
google*
config/.token.rb
db/backup
db/backup.sh
db/.credentials.rb
config/.token.rb
log
public/images/posters/
public/stylesheets/*.css
public/images/bgs/old/
tasks/logs/*
tmp
env/prod*