- text_buy_online ="Купить билет онлайн"
- text_min_price = "Минимальная цена билета"

a.btn.btn-default.navbar-btn.price-button.cell-screening-desktop href="#{screening.ticket_url}" target="_blank" title="#{text_buy_online}"
	= show_time(screening.date_time)

a.btn.btn-default.navbar-btn.price-button.cell-screening-mobile href="#{screening.ticket_url}" title="#{text_buy_online}"
	= show_time(screening.date_time)

- style=price_tag_style(screening.price_min)
- transparency = screening.price_min.to_i == 0 ? "pseudo-hidden" : ""
<span class="label label-bg #{style} price-label btn-block #{transparency}" title="#{text_min_price}">#{format_price(screening.price_min)} <span class="fa fa-rub price-rub-sign"></span></span>