- social = social_urls city
div.undernavbar-container.hidden-xs
	div.undernavbar
		| Подписывайтесь на нас в <span class="fa fa-vk vk-logo"></span> #{link_to("ВКонтакте", social[:vk], :class => "underdashed")}, <span class="fa fa-telegram telegram-logo"></span> #{link_to("Telegram", social[:t], :class => "underdashed")} и <span class="fa fa-facebook facebook-logo"></span> #{link_to("Facebook", social[:fb], :class => "underdashed")}
		|  и не пропустите ни одного нового фильма в кино на языке оригинала!