- vk_id = 80829508
- vk_id = 80856521 if @city.domain == "spb"
javascript:
	var mq = window.matchMedia( "(min-width: 1023px)" );
	if (mq.matches)
		$.getScript("//vk.com/js/api/openapi.js").done(function( script, textStatus ) {
		VK.Widgets.Group("vk_groups", {mode: 2, wide: 1, width: "575", height: "300px", color1: "FFFFFFF", color2: "3C5A72", color3: "151418"}, #{vk_id});
		setTimeout($("td.about.right").removeClass("hidden"), 1);
		});
