@import "vars.less"; 

.movie-title-original
	{
		color: #888;
	}

.location
	{
		color: #888;
	}
	
a.underdashed
	{
		color: #444;
		border-bottom-color: #444;	
	}
	
.ui-slider .ui-slider-handle 
	{
		border-color: #666;
		background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	}
	
.ui-widget-content
	{
		background-color: green;
		border-color: #666;
		background: #6db717; /* Old browsers */
		background-image: linear-gradient(to right, #6db717 0%,#f4a850 50%,#ff4949 100%); /* W3C */
	}