@import "vars.less"; 

@media (max-width: 767px) 
{
	h1
	{
		.font-size(@font-size-h1 * 0.9);
	}	
	
	h2
	{
		.font-size(@font-size-h2 * 0.9);
	}
	
	div.box-text
	{
		.font-size(@font-size-site-intro * 0.9);
	}
	
	// Toggle button
	.navbar-toggle
		{
			margin-top: 18px;
		}	
	
	.navbar-inverse .navbar-nav>li>a
		{
			margin-bottom: 12px;
			margin-top: 12px;
		}
	
	.navbar-collapse.collapse.in > ul:nth-child(1), .navbar-collapse.collapse.in > ul.nav.navbar-nav.navbar-right
		{
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
	
	.navbar-collapse.collapse.in > ul > li > a
		{
			margin-left: 12px;
			margin-right: 12px;
		}
	
	.site-name
		{
			font-size: 48px;
			padding-left: 12px;
		}
	
	div.share-top
		{
			margin-left: 12px;
			margin-top: 12px;
		}
	
	.navbar-inverse .navbar-nav > li > a
		{
			border-bottom-width: 0px;
		}
	
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider
		{
			display: none;
		}
	
	li>a.dropdown-toggle
		{
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
		
	.navbar.navbar-inverse.navbar-primary > div > div.navbar-collapse.collapse.in > ul > li.dropdown.open > ul > li > a
		{
			padding-top: 3px;
			padding-bottom: 3px;
		}
	
	.navbar-collapse 
		{	
			box-shadow: none;
			border-top-width: 0px;
		}
	
	// screenings in one line
	td.cell-screenings
		{	
			display:block;
			margin-bottom: 5px;
		}
	
	table.filters td
		{
			display:block;
		}
	
	table.filters
		{
			width: 98%; 
			margin-left: 1%; 
			margin-right: 1%;
		}
	
	td.price-filter
		{
			width: 100%;
		}
	
	a.cell-screening-desktop
		{
			display:none;
		}

	a.cell-screening-mobile
		{
			display:block;
		}
		
	td.daytime-filter
		{
			min-width: inherit;
		}
		
	.button-description-full
		{
			display: none;
		}	
	
	.button-description-mobile
		{
			display: inline;
		}	
		
/* Rating plates */
table.mobile-rating
	{
		width: @rating-plate-width-mobile;
		
		span.label-votes
			{
				display: none;
			}
	}
		
/* Movie info */

.movie-info-mobile
	{	
		display: table;
	}

table.movie-info
	{
		.age-restriction
			{
				display: none;
			}
		
		span.b-share-btn__wrap
			{
				margin-left: 3px;
			}
	}
	
img.poster
	{	
		max-width: 120px;
		max-height: 120*1.47px;
	}
		
/* Movie plates */

div.movie-plate-table
	{
		div.rating-plates
			{
				border-collapse: separate;
				border-spacing: 5px;
				padding: 0px !important;
			}
		
		div.rating-plate-imdb, div.rating-plate-kinopoisk
			{
				display: table-row;
				width: @rating-plate-width;
				padding-left: 0px;
			}
		
		div.show-button
			{
				display: none !important;
			}
		
		.badge.limited, .age-restriction
			{
				display: none !important;
			}	

		div.movie-poster-mobile
			{				
				display: table-cell !important;
			}	

		div.movie-next-screening-mobile
			{
				display: table-cell !important;
			}
	}	

table.movie-info .badge.count
	{
		display: none !important;
	}

table.movie-description
	{
		display: none !important;
	}

.movie-info-mobile-caption
	{
		margin-top: 10px;
		margin-bottom: 0px !important;
	}

td.movie-title
	{
		display: none;
	}
	
}