@import "vars.less";

@-moz-document url-prefix()
{
	@media (min-width: 768px) 
	{
		body
		{
			background-attachment: fixed;	
		}
	}
}

@media (max-width: 767px) 
{
	body
		{
			background-image: @bg-url-mobile;	
		}
}

@media (min-width: 768px) 
{
	body
		{
			background-image: @bg-url;
		}
}

body 
	{
		background-color: @basic-bg-color;
		color: @basic-text-color;
	}
	
*::selection
	{
		background-color: fade(@orange-color, 50%);
		color: @basic-text-color;
	}

::-moz-selection
	{
		background-color: fade(@orange-color, 50%);
		color: @basic-text-color;
	}

img.poster
	{
		border: 2px solid @basic-text-color;
		.shadow(@basic-text-color, 12px);
	}
	
/* Tables */	

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th, .table-striped>thead>tr:nth-child(odd)>td
	{
		background-color: fade(@basic-bg-table-color, 50%);
	}
	
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th, .table-striped>thead>tr:nth-child(even)>td
	{
		background-color: fade(@basic-bg-table-color, 65%);
	}
	
a
	{
		&,&:visited, &:focus
		{
			color: @basic-text-color;
			outline: none;
		}

		&:hover, &:active
			{
				color: saturate(@basic-text-color, 100%);
				outline: none;
			}
	}
	
table.rating
	{
		background-color: fade(@basic-bg-table-color, 40%);
	}
	
/* Captions */

div.box-text
	{
		background-color: fade(@basic-bg-color, 50%);
	}
	
.movie-title-original
	{
		color: fade(@basic-text-color, 75%);
	}
	
.location
	{
		color: fade(@basic-text-color, 75%);
	}
	
.site-name, .site-name-short
	{
		text-shadow-color: @dark-text-color;
	}
	
.semi-transparent
	{
		opacity: 0.85;
	}

.movie-genres
	{
		color: fade(@basic-text-color, 90%);
	}
	
/* Labels */
.label
	{
		color: fade(@basic-text-color, 100%);
	}

.label-success /*initially green*/
	{
		background: fade(@label-success, 100%);
		.text-shadow(@basic-bg-color, 6px);
	}

.label-primary /* initially blue */
	{
		background: fade(@label-primary, 80%);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.label-warning /* initially orange */
	{
		background: fade(@label-warning, 80%);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.label-danger /* initially red */
	{
		background: fade(@label-error, 80%);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.label-default /* initially gray */
	{
		background: fade(@basic-bg-color, 35%);
		color: @basic-text-color;
	}
	
.label-rating
	{
		background-color: @basic-text-color;
		color: @basic-bg-color;

		&:hover, &:active
		{
			background-color: saturate(@basic-text-color, 100%);
		}	
	}

/* Slide Bar */

.ui-widget-content
	{
		border-color: fade(@dark-text-color, 60%);
		.shadow(fade(@dark-text-color, 80%), 5px);
		.slider-bg;
	}
	
.ui-slider .ui-slider-handle 
	{
		.shadow(fade(@dark-text-color, 80%), 5px);
		.slider-handle;
	}
	
/* Badges */
.badge
	{
		color: @basic-text-color;
		background-color: @badge-basic-color;
		.shadow(@badge-basic-color);
	}
	
.badge.count
	{
		.text-shadow(@basic-bg-color, 6px);
	}

.badge.limited
	{
		background-color: @badge-extra-color;
		.shadow(@badge-extra-color);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.badge.new
	{
		.text-shadow(@basic-bg-color, 6px);
	}
	
/* Buttons */
	
.btn-default
	{
		.button-basic
	}

.btn-default:active, .btn-default.active, .btn-default:hover, .btn-default:focus, .btn-default:visited
	{
		.button-hover;
		.shadow(@dark-text-color, 8px);
		color: #333;
		outline: none !important;
	}
		
/* Navbar */

// Toggle button border
.navbar-inverse .navbar-toggle
	{
		border-color: fade(@basic-text-color, 100%);
	}
	
.navbar-collapse.collapse.in > ul > li.dropdown.open > ul > li > a
	{
		color: @basic-text-color;
	}	
	
.navbar
	{
		background-color: none;
		background: linear-gradient(to bottom, fade(@basic-bg-color, 60%) 0%, fade(@basic-bg-color, 60%) 100%);
		color: @basic-text-color;
		border-bottom: 1px dashed;
		.shadow(fade(@basic-bg-color, 50%), 8px);
	}

.navbar-inverse .navbar-nav>li>a
	{
		color: fade(@basic-text-color, 100%);
		//border-bottom: @border-dashed;
	}

.navbar-link-text
	{
		border-bottom: @border-dashed;
	}
	
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
		color: saturate(@basic-text-color, 100%);
	}
	
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
	{
		color: saturate(@basic-text-color, 100%);
	}
	
.dropdown-menu
	{
		background-color: fade(@basic-bg-color, 80%);
	}
	
ul.dropdown-menu
	{
		border-radius: 8px !important;
	}

.dropdown-menu>li>a
	{
		color: fade(@basic-text-color, 100%);
	}
	
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
	{
		background-color: @basic-bg-color;
		color: saturate(@basic-text-color, 100%);
	}
	
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
		background-color: fade(@basic-bg-color, 0%);
	}
	
.navbar-inverse
.navbar-toggle .icon-bar
	{
		background-color: @basic-text-color !important;
	}
	
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
	{
		background-image: none;
		background-color: fade(@basic-bg-color, 0%);
	}
	
.like-navbar
	{
		background-color: fade(@basic-bg-color, 55%);
	}
	
.dropdown-menu .divider
	{
		background-color: fade(@basic-text-color, 60%);
		.shadow(@basic-text-color);
	}
	
/* Sticky footer */

.footer
	{
		background-color: none;
		background: linear-gradient(to bottom, fade(@basic-bg-color, 40%) 100%, fade(@basic-bg-color, 10%) 0%);
		color: @basic-text-color;
		.shadow(fade(@dark-text-color, 50%), 8px);
	}
	
/* Movie plates */

div.movie-plate-table
	{		
		background-color: fade(@basic-bg-color, 60%);
		//.shadow(@basic-bg-color);
		//border-color: fade(@dark-text-color, 100%);
	}	
