@import "vars.less";

@media (max-width: 767px) 
{
	body
		{
			background-image: @bg-url-mobile;			
		}
}

@media (min-width: 768px) 
{
	body
		{
			background-image: @bg-url;
		}
		
	h1.like-navbar, h2.like-navbar, h3.like-navbar, h4.like-navbar
		{
			border-color: fade(@dark-text-color, 80%) !important;
		}
		
	.box-text
		{
			border-color: fade(@dark-text-color, 80%) !important;
		}
}

body 
	{
		background-color: @basic-bg-color;
		color: @basic-text-color;
	}
	
*::selection
	{
		background-color: fade(@orange-color, 50%);
		color: @basic-text-color;
	}

*::-moz-selection
	{
		background-color: fade(@orange-color, 50%);
		color: @basic-text-color;
	}	
	
img.poster
	{
		border: 2px solid @basic-text-color;
		.shadow(@basic-text-color, 12px);
	}
	
/* Tables */	
	
table.table
	{
		.shadow(@basic-bg-color);
	}
	
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th, .table-striped>thead>tr:nth-child(odd)>td
	{
		background-color: fade(@basic-bg-table-color, 50%);
	}
	
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th, .table-striped>thead>tr:nth-child(even)>td
	{
		background-color: fade(@basic-bg-table-color, 65%);
	}
	
a
	{
		color: @basic-text-color;
	}

a:hover, a:active
	{
		color: fade(@basic-text-color, 90%);
	}

a.underdashed
	{
		color: @basic-text-color;
		border-color: @basic-text-color;
	}
	
a.underdashed:hover, a.underdashed:active
	{
		color: fade(@basic-text-color, 90%);
	}	
	
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
	{
		border-top-color: fade(@dark-text-color, 80%);
	}
	
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td, .table-bordered
	{
		border-color: fade(@dark-text-color, 80%);
	}	
	
table.rating
	{
		border-color: fade(@dark-text-color, 100%);
		background-color: fade(@basic-bg-table-color, 40%);
	}
	
/* Captions */

div.box-text
	{
		background-color: fade(@basic-bg-color, 50%);
	}
	
.movie-title-original
	{
		color: fade(@basic-text-color, 75%);
	}
	
.location
	{
		color: fade(@basic-text-color, 75%);
	}
	
.site-name, .site-name-short
	{
		text-shadow-color: @dark-text-color;
	}
	
.semi-transparent
	{
		opacity: 0.85;
	}
	
/* Labels */
.label
	{
		color: fade(@basic-text-color, 100%);
	}

.label-success /*initially green*/
	{
		background: fade(@label-success, 100%);
		.text-shadow(@basic-bg-color, 6px);
	}

.label-primary /* initially blue */
	{
		background: fade(@label-primary, 80%);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.label-warning /* initially orange */
	{
		background: fade(@label-warning, 80%);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.label-danger /* initially red */
	{
		background: fade(@label-error, 80%);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.label-default /* initially gray */
	{
		background: fade(@basic-bg-color, 35%);
		border-color: fade(@basic-text-color, 80%);
		color: @basic-text-color;
	}
	
.label-rating
	{
		background-color: @basic-text-color;
		color: @basic-bg-color;
	}
	
.label-rating:hover, .label-rating:active
	{
		background-color: fade(@basic-text-color, 90%);
	}	
	
/* Slide Bar */

.ui-widget-content
	{
		border-color: fade(@dark-text-color, 60%);
		.shadow(fade(@dark-text-color, 80%), 5px);
		.slider-bg;
	}
	
.ui-slider .ui-slider-handle 
	{
		.shadow(fade(@dark-text-color, 80%), 5px);
		.slider-handle;
	}
	
/* Badges */
.badge
	{
		color: @basic-text-color;
		background-color: @badge-basic-color;
		.shadow(@badge-basic-color);
	}
	
.badge.count
	{
		.text-shadow(@basic-bg-color, 6px);
	}

.badge.limited
	{
		background-color: @badge-extra-color;
		.shadow(@badge-extra-color);
		.text-shadow(@basic-bg-color, 6px);
	}
	
.badge.new
	{
		.text-shadow(@basic-bg-color, 6px);
	}
	
/* Buttons */
	
.btn-default
	{
		.button-basic
	}
	
.btn-default:active, .btn-default.active, .btn-default:hover, .btn-default:focus
	{
		.button-hover;
		.shadow(@dark-text-color, 8px);
	}
		
/* Navbar */

// Toggle button border
.navbar-inverse .navbar-toggle
	{
		border-color: @basic-text-color;
	}
	
.navbar-collapse.collapse.in > ul > li.dropdown.open > ul > li > a
	{
		color: @basic-text-color;
	}	
	
.navbar
	{
		background-color: none;
		background: linear-gradient(to bottom, fade(@basic-bg-color, 70%) 0%, fade(@basic-bg-color, 30%) 100%);
		color: @basic-text-color;
		border-bottom: @border-solid-wide fade(@dark-text-color, 80%);
		.shadow(fade(@dark-text-color, 50%), 8px);
	}

.navbar-inverse .navbar-nav>li>a
	{
		color: fade(@basic-text-color, 100%);
		border-bottom: @border-dashed fade(@basic-text-color, 100%);
	}
	
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
		color: fade(@basic-text-color, 90%);
		border-bottom: @border-dashed @basic-text-color;
	}
	
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
	{
		color: fade(@basic-text-color, 90%);
	}
	
.dropdown-menu
	{
		background-color: fade(@basic-bg-color, 80%);
	}
	
ul.dropdown-menu
	{
		border-radius: 8px !important;
	}

.dropdown-menu>li>a
	{
		color: fade(@basic-text-color, 100%);
	}
	
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
	{
		background-color: @basic-bg-color;
		color: fade(@basic-text-color, 80%);
	}
	
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
		background-color: fade(@basic-bg-color, 0%);
	}
	
.navbar-inverse
.navbar-toggle .icon-bar
	{
		background-color: @basic-text-color !important;
	}
	
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
	{
		background-image: none;
		background-color: fade(@basic-bg-color, 0%);
	}
	
.like-navbar
	{
		background-color: fade(@basic-bg-color, 50%);
		border-top: @border-solid-wide fade(@dark-text-color, 80%);
		border-bottom: @border-solid-wide fade(@dark-text-color, 80%);
		.shadow(fade(@dark-text-color, 50%), 8px);
		text-shadow: 0 0 8px rgba(0,0,0,1);
	}
	
.dropdown-menu .divider
	{
		background-color: fade(@basic-text-color, 60);
		.shadow(@basic-text-color);
	}
	
/* Sticky footer */

.footer
	{
		background-color: none;
		background: linear-gradient(to bottom, fade(@basic-bg-color, 40%) 100%, fade(@basic-bg-color, 10%) 0%);
		color: @basic-text-color;
		border-top: @border-solid-wide fade(@dark-text-color, 80%);
		.shadow(fade(@dark-text-color, 50%), 8px);
	}
	
/* Movie plates */

div.movie-plate-table
	{		
		border-color: fade(@dark-text-color, 100%);
		background-color: fade(@basic-bg-color, 50%);
		.shadow(@basic-bg-color);
		
		div.show-button
		{		
			border-right-color: fade(@dark-text-color, 100%);
		}
		
		table.movie-description
		{
			background: fade(@basic-bg-color, 0%);	
		}
	}	