/* General */
/*1rem;*/
/* Sizes, paddings, margins */
/*6.375rem; */
/* Font Sizes */
/* Colors */
/* Basic Colors */
/* Borders */
/* Labels */
/* Generics */
.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}
/* Buttons */
.button-hover {
  background-color: #edae50;
  border-color: #E5AA5E;
}
.button-basic {
  background-image: linear-gradient(to bottom, #e8b876 0%, #eac38c 50%, #e8b876 100%);
  background-color: rgba(238, 198, 137, 0.7);
  border-color: #E5AA5E;
}
/* Sliders */
.slider-bg {
  background: #5d2066;
  /* Old browsers */
  background-image: linear-gradient(to right, #5d2066 0%, #e04831 100%);
  /* W3C */
}
.slider-handle {
  background-image: linear-gradient(to bottom, #e8b876 0%, #eac38c 50%, #e8b876 100%);
  border-color: #E5AA5E;
}
.centered-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 27.36px;
  }
  h2 {
    font-size: 23.04px;
  }
  div.box-text {
    font-size: 17.28px;
  }
  .navbar-toggle {
    margin-top: 18px;
  }
  .navbar-inverse .navbar-nav > li > a {
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .navbar-collapse.collapse.in > ul:nth-child(1),
  .navbar-collapse.collapse.in > ul.nav.navbar-nav.navbar-right {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .navbar-collapse.collapse.in > ul > li > a {
    margin-left: 12px;
    margin-right: 12px;
  }
  .site-name {
    font-size: 48px;
    padding-left: 12px;
  }
  div.share-top {
    margin-left: 12px;
    margin-top: 12px;
  }
  .navbar-inverse .navbar-nav > li > a {
    border-bottom-width: 0px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    display: none;
  }
  li > a.dropdown-toggle {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .navbar.navbar-inverse.navbar-primary > div > div.navbar-collapse.collapse.in > ul > li.dropdown.open > ul > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .navbar-collapse {
    box-shadow: none;
    border-top-width: 0px;
  }
  td.cell-screenings {
    display: block;
    margin-bottom: 5px;
  }
  table.filters td {
    display: block;
  }
  table.filters {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
  td.price-filter {
    width: 100%;
  }
  a.cell-screening-desktop {
    display: none;
  }
  a.cell-screening-mobile {
    display: block;
  }
  td.daytime-filter {
    min-width: inherit;
  }
  .button-description-full {
    display: none;
  }
  .button-description-mobile {
    display: inline;
  }
  /* Movie info */
  .movie-info-mobile {
    display: table;
  }
  table.movie-info .age-restriction {
    display: none;
  }
  table.movie-info span.b-share-btn__wrap {
    margin-left: 3px;
  }
  img.poster {
    max-width: 120px;
    max-height: 176.4px;
  }
  /* Movie plates */
  div.movie-plate-table div.rating-plates {
    border-collapse: separate;
    border-spacing: 5px;
    padding: 0px !important;
  }
  div.movie-plate-table div.rating-plate-imdb,
  div.movie-plate-table div.rating-plate-kinopoisk {
    display: table-row;
    width: 110px;
    padding-left: 0px;
  }
  div.movie-plate-table div.show-button {
    display: none !important;
  }
  div.movie-plate-table .badge.limited,
  div.movie-plate-table .age-restriction {
    display: none !important;
  }
  table.movie-info .badge.count {
    display: none !important;
  }
  table.movie-description {
    display: none !important;
  }
  .movie-info-mobile-caption {
    margin-top: 10px;
    margin-bottom: 0px !important;
  }
  td.movie-title {
    display: none;
  }
}
